{% extends  'myapp/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
    <div  class="row justify-content-center">
        <div  class="col-4" style="min-width: 18rem;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Log in to your account</h4>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-dark btn-block">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}