{% extends 'myapp/base.html' %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/myapp/css/login.css">
{% endblock %}

{% block content %}
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form method="post">
            <h1>Вход</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>или используйте аккаунт</span>
            {% csrf_token %}

			{{ form.non_field_errors }}
			{% for hidden_field in form.hidden_fields %}
    		{{ hidden_field.errors }}
    		{{ hidden_field }}
  			{% endfor %}

			{% render_field form.username class="form-input" placeholder="Имя пользователя" %}
            <small>{{ form.username.errors }}</small>

			{% render_field form.password class="form-input" placeholder="Пароль" %}
            <small>{{ form.password.errors }}</small>

            <a href="#">Забыл свой пароль?</a>
            <button>Войти</button>
            <a href="{% url 'signup' %}">Зарегистрироваться</a>
        </form>
    </div>
</div>
{% endblock %}