### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments
.env
realprice_env/

.idea/
TODO.txt
media/
migrations/

# celery beat schedule file
celerybeat-schedule.*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt