Django~=3.0.3
django-crispy-forms==1.9.0
Pillow==7.0.0
bs4==0.0.1
user_agent==0.1.9
requests==2.23.0
wget==3.2
celery==4.4.2
django-celery-results==1.2.1
psycopg2==2.8.5
tldextract==2.2.2
django-debug-toolbar==2.2
humanize==0.5.1
django-braces==1.14.0
django-mathfilters==1.0.0
django-widget-tweaks==1.4.8
python-dotenv==0.13.0
mysqlclient
django-filter==2.2.0
social-auth-app-django==3.4.0