body {
    margin: 0;
}

.row {
    margin: 0;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: contain;
}

.card {
    min-width: 11rem;
    max-width: 11rem;
}

#link_color {
    color: #222222;
}

