body {
    margin: 0;
}
.row {
    margin: 0;
}
.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: contain;
}
.card {
    min-width: 11rem;
    max-width: 11rem;
}
#link_color {
    color: #222222;
}
#add-tracking_input {
    width: 80%;
}

#product_first_price {
    color: #272822;
}
#product_discount {
    color: #F92672;
}

.page-item a {
    color: #272822;
}

#page-item_active a {
    color: #272822;
    background-color: #cfcfc2;
    border: 1px solid #cfcfc2;
}
