{% extends 'myapp/about.html' %}

{% block title %}
<title>О сайте - Лучшие скидки и акции на товары интернет-магазинов</title>
{% endblock%}

{% block about-content %}
<div class="about-as-content">
    <p>Сайт RealPrice - предназначен для трекинга реальной стоимости товаров в интернет-магазинах. Наша команда за честную реализацию товаров в интернет-магазинах, честные акции в преддверии новогодних праздников, праздников весны, черной пятницы (Black Friday) и так далее. Вы, наверное не раз замечали, что некоторые интернет-магазины перед грандиозными скидками немного поднимают стоимость товаров, и потом на период скидки делают весомые лозунги -30%, -50%, -70%. Наша команда тоже замечала и решила сделать доступный, бесплатный инструмент для отслеживания реальной стоимости товаров в любом интернет-магазине.</p>
    <p>Покупатели, которые не первый год “выхватывают” реально стоящие товары и по реальным скидкам давно мониторят цену на определенный товар задолго до объявления акции на него. Так почему же не сделать себе жизнь проще? Не тратить часы серфинга по интернет страницам и закладкам в вашем браузере. Все товары, которые вы планируете купить, купить, напомню по хорошей цене, будут отслеживаться в одном месте без Вашего вмешательства.</p>
    <p>Каждый пользователь абсолютно бесплатно может поставить на трекинг (отслеживание) неограниченное количество товаров из любого интернет-магазина. Для этого необходимо пройти регистрацию и ввести ссылку на товар в интернет-магазине в форму добавления нового трекинга. Наш робот обработает Ваш запрос в порядке очереди и если товар находится на продаже в интернет-магазине из нашего списка, Вы практически сразу начнете отслеживать стоимость товара. Как только стоимость товара измениться, наш робот отправит Вам сообщение по электронной почте (вспоминаем, зачем нужна была регистрация и подтверждение email). Если интернет-магазин пока еще не добавлен в список для автоматической обработки роботом, Вам нужно подождать некоторое время для отслеживания. Поверьте, оно совсем небольшое и нужно для второго робота по автоматизации работы с интернет-ресурсом. </p>
    <p>Всем желаем хороших, качественных покупок по реальной стоимости товара.</p>
</div>
{% endblock %}