{% extends 'myapp/base.html' %}

{% block title %}
<title>О сайте - Лучшие скидки и акции на товары интернет-магазинов</title>
{% endblock%}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-content_block">
            <h1>{% block main-content-title %}О сайте{% endblock %}</h1>
            <div class="about-navigation">
                <ul>
                    <li>
                        <a href="#" class="about-navigation-link">Новости</a>
                    </li>
                    <li>
                        <a href="{% url 'about_as' %}" class="about-navigation-link">О сайте</a>
                    </li>
                    <li>
                        <a href="#" class="about-navigation-link">Форма обратной связи</a>
                    </li>
                    <li>
                        <a href="#" class="about-navigation-link">Правила</a>
                    </li>
                    <li>
                        <a href="{% url 'policy' %}" class="about-navigation-link">Политика конфиденциальности</a>
                    </li>
                    <li>
                        <a href="{% url 'help' %}" class="about-navigation-link">Помощь</a>
                    </li>
                </ul>
            </div>
            {% block about-content %}
            {% endblock %}


        </div>
    </div>
{% endblock %}