{% extends 'myapp/base.html' %}

{% block title %}
<title>
    Добавить трекинг
</title>
{% endblock%}

{% block content %}
<div class="input-group input-group-sm mb-3 justify-content-center">
    <div id="add-tracking_input">
        <form action="{% url 'add' %}" method="get">
            <input name='q' type="text" placeholder="Введите ссылку на товар и нажмите Enter" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </form>
    </div>
</div>
{% endblock %}

