<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="static/myapp/myapp.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title> Отслеживание реальной стоимости товаров в интернет-магазинах</title>
    </head>

    <body>
        <!-- Grey with black text -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'home' %}">RealPrice</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product_list' %}">My tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_tracking' %}">Add track</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More action</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">О сайте</a>
                            <a class="dropdown-item" href="#">Форма обратной связи</a>
                            <a class="dropdown-item" href="#">Правила</a>
                            <a class="dropdown-item" href="#">Политика конфиденциальности</a>
                            <a class="dropdown-item" href="#">Частые вопросы</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Получать новые трекинги</a>
                        </div>
                    </li>
                </ul>

                <!-- Search form -->
                <form class="form-inline my-2 my-lg-0" action="{%url 'search_result' %}" method="get" >
                    <small><input name="q" class="form-control" type="text" placeholder="Type name or price" aria-label="Search" aria-describedby="inputGroup-sizing-sm"></small>
                </form>

                <!-- Logout/Login/SignUp -->
                <ul class="navbar-nav justify-content-end">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Logout</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}"><span class="fas fa-user"></span> Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <br>

        <!-- Search -->
        {% block search_result %}
        {% endblock %}


        <!-- All list of products view-->
        <div class="card-deck">
            {% for product in products_base %}
            <div class="card mb-3 " style="min-width: 14rem; max-width: 16rem">
                <img class="card-img-top" src="{{ product.product_image.url }}">
                <div class="card-body">
                    <h6 class="card-title">{{ product.product_name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <small><span>min: {{ product.min_price }}</span></small>
                        <small><span>now: {{ product.now_price }}</span></small>
                        <small><span>max: {{ product.max_price }}</span></small>
                    </h6>
                    <h6 class="card-subtitle mb-2">
                        <small><span>{{ product.shop }}</span></small>
                    </h6>


                    <small><a href="{% url 'product_detail' pk=product.pk %}" class="card-link">More</a></small>
                    <small><a href="{{ product.link }}" class="card-link">Link to shop</a></small>
                </div>

                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Updated: {{ product.last_update }}</small></p>
                </div>
            </div>
            {% endfor %}
        </div>


        {% block add_tracking %}
        {% endblock %}

        <!-- Navigation Bar Login -->
        {% block main %}
        {% endblock %}

        <!-- Navigation Bar SignUp -->
        {% block signup %}
        {% endblock %}


        <!-- Page Content -->
        {% block content %}
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>