<!doctype html>
{% load static %}
{% load humanize %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/myapp/css/base.css">

        {% block title %}
        <title>
            Отслеживание реальной стоимости товаров в интернет-магазинах
        </title>
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'home' %}">RealPrice</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_tracking' %}">Мои трекинги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'base_add_tracking' %}">Добавить трекинг</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">О сайте</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">О сайте</a>
                            <a class="dropdown-item" href="#">Форма обратной связи</a>
                            <a class="dropdown-item" href="#">Правила</a>
                            <a class="dropdown-item" href="#">Политика конфиденциальности</a>
                            <a class="dropdown-item" href="#">Частые вопросы</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Получать новые трекинги</a>
                        </div>
                    </li>
                </ul>
                <!-- Search form -->
                <form class="form-inline my-2 my-lg-0" action="{%url 'base_search_content' %}" method="get" >
                    <input name="q" class="form-control" type="text" placeholder="Поиск" aria-label="Search" aria-describedby="inputGroup-sizing-sm">
                </form>
                <!-- Logout/Login/SignUp -->
                <ul class="navbar-nav justify-content-end">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Выход</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}"><span class="fas fa-user"></span> Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> Вход</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <br>
        {% block content %}
        <div class="row row-cols-1 row-cols-md-6 justify-content-center">
            {% for product in products %}
            <div class="card mb-4 ">
                <a href="{{ product.link }}" title="{{ product.product_name }}">
                    <img alt="Купить{{ product.product_name }}" title="{{ product.product_name }}"
                         class="card-img-top" src="{{ product.product_image.url }}">
                </a>
                <div class="card-body">
                    <b><h5 class="card-title" style="color: #F92672">{{ product.discount }}%</h5></b>
                    <a id="link_color" title="{{ product.product_name }}" href="{{ product.link }}" style="color: #222222">
                        <h6 class="card-title">
                            <small>{{ product.product_name }}</small>
                        </h6>
                    </a>
                    <h6 class="card-subtitle mb-2">
                        <div>
                            <small><span>Начальная -</span></small>
                            <b><span id="product_first_price" style="color: #272822">{{ product.first_price }}</span></b>
                        </div>


                    </h6>
                    <p class="card-text">
                        <small><small class="text-muted">{{ product.last_update |naturaltime }}</small></small>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Next</a></li>
                {% endif %}
            </ul>
        {% endif %}
        {% endblock %}

    </body>
</html>