{% extends 'myapp/base.html' %}
{% load humanize %}
{% block content %}
<div class="row row-cols-1 row-cols-md-6 justify-content-center">
    {% for product in products %}
    <div class="card mb-4 " style="min-width: 11rem; max-width: 11rem">
        <a href="{{ product.link }}" title="{{ product.product_name }}">
            <img alt="Купить{{ product.product_name }}" title="{{ product.product_name }}"
                 class="card-img-top" src="{{ product.product_image.url }}">
        </a>

        <div class="card-body">
            <a id="link_color" title="{{ product.product_name }}" href="{{ product.link }}" style="color: #222222">
                <h6 class="card-title">
                    <small>{{ product.product_name }}</small>
                </h6>
            </a>
            <h6 class="card-subtitle mb-2">
                <small><b><span style="color: #fd971f">{{ product.min_price }}</span></b></small>
                <b><span style="color: #272822">{{ product.now_price }}</span></b>
                <small><b><span style="color:#F92672">{{ product.max_price }}</span></b></small>
            </h6>
            <p class="card-text">
                <small><small class="text-muted">Обновлено: {{ product.last_update |naturaltime }}</small></small>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block nav_my_tracking %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Мои треки по магазинам</a>
    <ul class="dropdown-menu">
        <input class="form-control" id="myInput_my_tracking" type="text" placeholder="Название магазина..">
        {% for shop in shops %}
        <li><a class="dropdown-item" href="/shops/{{shop.shop_name}}">{{ shop.shop_name }}</a></li>
        {% endfor %}

    </ul>
</li>
{% endblock %}

