{% extends 'myapp/base.html' %}
{% block content %}

<br>

<div class="row row-cols-1 row-cols-md-6 justify-content-center">
    {% for product in products %}
    <div class="card mb-4 " style="min-width: 11rem;
                                   max-width: 11rem">
        <img class="card-img-top" src="{{ product.product_image.url }}">
        <div class="card-body">
            <a href="{{ product.link }}" style="color: #222222">
                <h6 class="card-title">
                    <small>{{ product.product_name }}</small>
                </h6>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">
                <small><small><span>{{ product.min_price }}</span></small></small>
                <b><span>{{ product.now_price }}</span></b>
                <strike><small><span>{{ product.max_price }}</span></small></strike>
            </h6>
            <p class="card-text">
                <small><small class="text-muted">{{ product.last_update }}</small></small>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}