{% extends 'myapp/about.html' %}

{% block title %}
<title>Правила - Лучшие скидки и акции на товары интернет-магазинов</title>
{% endblock%}

{% block main-content-title %}Правила{% endblock %}

{% block about-content %}
<div class="about-as-content">
    <p>1.	Любой пользователь сети интернет, может стать зарегистрированным участником сайта realprice.com.ua при наличии email или аккаунта в социальных сетях. Для регистрации необходимо перейти на страницу регистрации http://realprice.com.ua/login</p>
    <p>2.	Каждый пользователь, на данный момент, может добавлять неограниченное количество товаров для отслеживания. Если ограничение будет включено, ввиду большой нагрузки на аппаратное обеспечение, все пользователи будут заранее об этом оповещены.</p>
    <p>3.	Тип товара для отслеживания не имеет значения. Товары из интернет-магазинов, которые уже есть в списке отслеживания, появляются в Ваших трекингах моментально. Товары из интернет-магазинов, которых нет в списке, анализируются, группируются по количеству, ранжируются. Исходя из спроса на тот или иной интернет-магазин, он будет добавлен в список отслеживания нашим роботом.</p>
    <p>4.	Пользователь сайта realprice.com.ua должен понимать, что добавленный им товар на отслеживание стает публичным и любой другой пользователь может добавить себе этот же товар на отслеживание.</p>
    <p>5.	Основной целью данного сайта, есть экономия семейного бюджета за счет покупки товаров по реальной цене и с хорошей скидкой. Потому, даже поощряется добавление товаров, на которые уже есть хорошие скидки, они будут доступны к просмотру другим пользователям сайта.</p>
    <p>6.	Разрешено ссылаться на сайт http://realprice.com.ua в статьях и тематических форумах, приводить примеры графиков роста-падения цены на товар, но с обязательным присутствием ссылки на первоисточник.</p>

</div>
{% endblock %}